@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #e3e3e3;
  background: #1b1b1d;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  height: 100%;
}
